.all-income {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    margin: 16px 0;
    display: flex;
    justify-content: end;
}

.pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
