<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clover_shoes">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/clover"
        android:label="Clover Shoes"
        android:roundIcon="@drawable/clover"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clover_Shoes"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".control.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".control.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".control.ViewHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".control.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.MainActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".control.CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>